*{
    margin: 0;
    padding: 0;
    text-align: left;
}

#titulo{
    font-family: Arial, Helvetica, sans-serif;
    color:  rgb(107, 0, 128);
    text-shadow: red 2px 2px 2px;
}

#subtitulo{
    font-family: 'Courier New';
    color: black;
}

.nome{
    text-shadow: black 1px 2px 2px;
}

.sobrenome{
    text-shadow: black 1px 2px 2px;
}

.email{
    text-shadow: black 1px 2px 2px;
}

.aplicacao{
    text-shadow: black 1px 2px 2px;
}

.senioridade{
    text-shadow: black 1px 2px 2px;
}

fieldset{
    border: 0;
}

body{
    background-color: violet;
    font-family: sans-serif;
    font-size: 1em;
    color: black;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button{
    border-radius: 5px;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: blueviolet;
    display: block;
}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus{
    background: #E0E0F8;
}

.tecnologias{
    font-size: 1.2em;
    color: #59429d;
    text-shadow: black 1px 2px 2px;
}

.tecnologia1{
    color: aqua;
    font-family: 'Courier New';
    text-shadow: black 1px 2px 2px;
}

.tecnologia2{
    color: red;
    font-family: 'Courier New';
    text-shadow: black 1px 2px 2px;
}

.tecnologia3{
    color: green;
    font-family: 'Courier New';
    text-shadow: black 1px 2px 2px;
}

.tecnologia4{
    color: yellow;
    font-family: 'Courier New';
    text-shadow: black 1px 2px 2px;
}

.tecnologia5{
    color: darkblue;
    font-family: 'Courier New';
    text-shadow: black 1px 2px 2px;
}

.tecnologia6{
    color: brown;
    font-family: 'Courier New';
    text-shadow: black 1px 2px 2px;
}

.tecnologia7{
    color: rosybrown;
    font-family: 'Courier New';
    text-shadow: black 1px 2px 2px;
}

.botao{
    font-size: 1.2em;
    background-color: #59429d;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.experiencia{
    text-shadow: black 1px 2px 2px;
}

.botao:hover{
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

#check{
    display: inline-block;
}
